[Unit]

Description={{description}}
#Documentation=
#Requires=
#Wants=
#BindsTo=
#Before=
#After=
#Conflicts=
#Condition=
#Assert=

[Service]
Type=simple
ExecStartPre={{servicePreScript}}
ExecStart={{daemonExec}} {{javaVMArguments}} -cp "{{mainJar}}" {{mainClass}} {{startArguments}}
ExecStartPost={{servicePostScript}}
#ExecReload=
WorkingDirectory={{workdir}}
Restart=on-failure
User={{daemonUser}}
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
#RequiredBy=
#Alias=
#Also=
#DefaultInstance=