<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{{serviceName}}.uninstall</string>
	<key>Program</key>
	<string>watch.uninstall.application.program</string>
	<key>WatchPaths</key>
	<array/>
	<key>StandardOutPath</key>
	<string>/tmp/test.stdout</string>
	<key>StandardErrorPath</key>
	<string>/tmp/test.stderr</string>
	<key>RunAtLoad</key>
    <false/>
</dict>
</plist>
